$darkgrey: #a6a6a6; //white 65%
$lightgrey: #d9d9d9; //white 85%
$darkblue: #80d4ff;
$lightblue: #b3ccff;
$darkgreen: #9fdfbf;
$lightgreen: #c1ffd5;

.clearfix {
	clear: both;
}

#board {
	max-width:512px;
	margin: 0 auto;

	.square {
		float: left;
		max-height: 64px;
		max-width: 64px;
		width:12.5%;
		padding-bottom:12.5%;
		box-sizing: border-box;
		position: relative;

		&:nth-of-type(odd) {
			background-color: $lightgrey;
			&.move-source {	background-color: $lightblue; }
			&.move-available { background-color: $lightgreen; }
			&.move-target { background-color: $lightblue; }
		}

		&:nth-of-type(even) {
			background-color: $darkgrey;
			&.move-source {	background-color: $darkblue; }
			&.move-available { background-color: $darkgreen; }
			&.move-target { background-color: $darkblue; }
		}
	}

	.piece {
		display: flex;
		justify-content: center;
		width: 100%;
		font-size: 3em;
		position: absolute;
		top: 50%;
		line-height: 0;
		cursor: default;

		&[draggable="true"] {
			cursor: grab;
		}

		&.white-king::before {
			content: "\2654";
		}

		&.white-queen::before {
			content: "\2655";
		}

		&.white-rook::before {
			content: "\2656";
		}

		&.white-bishop::before {
			content: "\2657";
		}

		&.white-knight::before {
			content: "\2658";
		}

		&.white-pawn::before {
			content: "\2659";
		}

		&.black-king::before {
			content: "\265A";
		}

		&.black-queen::before {
			content: "\265B";
		}

		&.black-rook::before {
			content: "\265C";
		}

		&.black-bishop::before {
			content: "\265D";
		}

		&.black-knight::before {
			content: "\265E";
		}

		&.black-pawn::before {
			content: "\265F";
		}
	}
}
